<h1><%= @topic.name %></h1>

<div class="row">

  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
    <% @topic.posts.each do |post| %>
      <%= render partial: 'votes/voting', locals: { post: post } %>
      <%= render post %>
    <% end %>
    <br>
    <h3>Sponsoredposts</h3>
    <% @topic.sponsoredposts.each do |sponsoredpost| %>
      <%= render sponsoredpost %>
    <% end %>

  </div>





  <div class="col-md-4">
    <% if user_is_authorized_for_topics? %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
    <% if user_is_authorized_for_topics_admin? %>
    <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want ot delete this topic?'} %>
    <%end%>
    <%end%>
    <br>
    <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
    <%= link_to "New Sponsoredpost", new_topic_sponsoredpost_path(@topic), class: 'btn btn-success' %>
  </div>

</div>
